<div class="panel panel-default painel-inicial">
    <div class="panel-heading">
        <h4 class="panel-title">Sindicante</h4>
    </div>
    <div class="panel-body">
        <section class="col-md-12">
            <form id="sindicanteForm" name="sindicanteForm" class="form-horizontal" novalidate>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                    <!-- Dados Cadastrais -->
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href=".collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Dados Cadastrais
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="collapseOne panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <div class="container">
                                    <div class="col-md-11 col-md-offset-1">
                                        <div class="form-group" ng-class="{'has-error' : sindicanteForm.sincanteTipo.$invalid && sindicanteForm.sincanteTipo.$dirty}">
                                            <div class="col-md-4">
                                                <label class="control-label" for="nome">Tipo *</label>
                                                <select class="form-control input-sm fonte12pt"
                                                        id="sindicanteTipo"
                                                        name="sincanteTipo"
                                                        ng-model="vm.sindicante.sindicanteTipoId"
                                                        ng-options="s.id as s.nome for s in vm.sindicanteTipoList"
                                                        ng-disabled="true"
                                                        required>
                                                    <option value="">Selecione...</option>
                                                </select>
                                            </div>
                                            <div class="col-md-12" ng-show="sindicanteForm.sincanteTipo.$invalid && sindicanteForm.sincanteTipo.$dirty">
                                                <p class="text-danger">
                                                    * Campo obrigatório
                                                </p>
                                            </div>
                                        </div>

                                        <div class="form-group" ng-class="{'has-error' : sindicanteForm.nome.$invalid && sindicanteForm.nome.$dirty}">
                                            <div class="col-md-6">
                                                <label class="control-label" for="nome">Nome *</label>
                                                <input class="form-control input-sm fonte12pt"
                                                       type="text"
                                                       id="nome"
                                                       name="nome"
                                                       ng-model="vm.sindicante.nome"
                                                       required />
                                                <div class="col-md-12" ng-show="sindicanteForm.nome.$invalid && sindicanteForm.nome.$dirty">
                                                    <p class="text-danger">
                                                        * Campo obrigatório
                                                    </p>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-3" ng-class="{'has-error' : sindicanteForm.cpf.$invalid && sindicanteForm.cpf.$dirty}">
                                                <label class="control-label" for="cpf">CPF *</label>
                                                <input class="form-control input-sm fonte12pt text-right"
                                                       type="text"
                                                       id="cpf"
                                                       name="cpf"
                                                       ng-model="vm.sindicante.cpf"
                                                       ui-br-cpf-mask
                                                       required />
                                                <div class="col-md-12" ng-show="sindicanteForm.cpf.$invalid && sindicanteForm.cpf.$dirty">
                                                    <p class="text-danger" ng-show="!sindicanteForm.cpf.$error.required">
                                                        * CPF inválido
                                                    </p>
                                                    <p class="text-danger" ng-show="sindicanteForm.cpf.$error.required">
                                                        * Campo obrigatório
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label" for="rg">RG</label>
                                                <input class="form-control input-sm fonte12pt text-right"
                                                       type="text"
                                                       id="rg"
                                                       name="rg"
                                                       maxlength="20"
                                                       ui-number-mask="0"
                                                       ng-model="vm.sindicante.rg" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-3" ng-class="{'has-error' : sindicanteForm.telefone.$invalid && sindicanteForm.telefone.$dirty}">
                                                <label class="control-label" for="telefone">Telefone *</label>
                                                <input class="form-control input-sm text-right fonte12pt"
                                                       type="text"
                                                       id="telefone"
                                                       name="telefone"
                                                       minlength="14"
                                                       maxlength="14"
                                                       ng-model="vm.sindicante.telefone"
                                                       ui-br-phone-number
                                                       required />
                                                <div class="col-md-12" ng-show="sindicanteForm.telefone.$invalid && sindicanteForm.telefone.$dirty">
                                                    <p class="text-danger" ng-show="!sindicanteForm.telefone.$error.required">
                                                        * Telefone inválido
                                                    </p>
                                                    <p class="text-danger" ng-show="sindicanteForm.telefone.$error.required">
                                                        * Campo obrigatório
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-md-3" ng-class="{'has-error' : sindicanteForm.celular.$invalid && sindicanteForm.celular.$dirty}">
                                                <label class="control-label" for="celular">Celular *</label>
                                                <input class="form-control input-sm text-right fonte12pt"
                                                       type="text"
                                                       id="celular"
                                                       name="celular"
                                                       ng-model="vm.sindicante.celular"
                                                       ui-br-phone-number
                                                       required />
                                                <div class="col-md-12" ng-show="sindicanteForm.celular.$invalid && sindicanteForm.celular.$dirty">
                                                    <p class="text-danger" ng-show="!sindicanteForm.celular.$error.required">
                                                        * Celular inválido
                                                    </p>
                                                    <p class="text-danger" ng-show="sindicanteForm.celular.$error.required">
                                                        * Campo obrigatório
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group" ng-class="{'has-error' : sindicanteForm.email.$invalid && sindicanteForm.email.$dirty}">
                                            <div class="col-md-4">
                                                <label class="control-label" for="email">E-mail *</label>
                                                <input class="form-control input-sm fonte12pt"
                                                       type="text"
                                                       id="email"
                                                       name="email"
                                                       ng-model="vm.sindicante.email"
                                                       ng-pattern="vm.emailPattern"
                                                       required />
                                                <div class="col-md-12" ng-show="sindicanteForm.email.$invalid && sindicanteForm.email.$dirty">
                                                    <p class="text-danger" ng-show="sindicanteForm.email.$error.pattern">
                                                        * E-mail inválido
                                                    </p>
                                                    <p class="text-danger" ng-show="sindicanteForm.email.$error.required">
                                                        * Campo obrigatório
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group" ng-class="{'has-error' : sindicanteForm.cep.$invalid && sindicanteForm.cep.$dirty}">
                                            <div class="col-md-2">
                                                <label class="control-label" for="cep">CEP *</label>
                                                <input class="form-control input-sm text-right fonte12pt"
                                                       type="text"
                                                       id="cep"
                                                       name="cep"
                                                       ng-model="vm.sindicante.endereco.cep"
                                                       nminlength="9"
                                                       maxlength="9"
                                                       ui-br-cep-mask
                                                       ng-disabled="!vm.desabilitada"
                                                       required />
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btn btn-primary btn-sm btn-cep"
                                                        ng-click="vm.pesquisarEnderecoPorCep()"
                                                        ng-disabled="sindicanteForm.cep.$invalid || !sindicanteForm.cep.$dirty"
                                                        ng-show="vm.desabilitaNovaPesquisa">
                                                    <i class="fa fa-search"></i><b> Pesquisar CEP</b>
                                                </button>
                                                <button type="button" class="btn btn-primary btn-sm btn-cep" ng-click="vm.novaPesquisa()" ng-hide="vm.desabilitaNovaPesquisa">
                                                    <b>Nova Pesquisa</b>
                                                </button>
                                            </div>
                                            <div class="col-md-12" ng-show="sindicanteForm.cep.$invalid && sindicanteForm.cep.$dirty">
                                                <p class="text-danger" ng-show="!sindicanteForm.cep.$error.required">
                                                    * CEP inválido
                                                </p>
                                                <p class="text-danger" ng-show="sindicanteForm.cep.$error.required">
                                                    * Campo obrigatório
                                                </p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-4" ng-class="{'has-error' : sindicanteForm.endereco.$invalid && sindicanteForm.endereco.$dirty}">
                                                <label class="control-label" for="endereco">Endereco *</label>
                                                <input class="form-control input-sm fonte12pt"
                                                       type="text" id="endereco"
                                                       name="endereco"
                                                       ng-model="vm.sindicante.endereco.logradouro"
                                                       ng-disabled="vm.desabilitada"
                                                       required />
                                                <div class="col-md-12" ng-show="sindicanteForm.endereco.$invalid && sindicanteForm.endereco.$dirty">
                                                    <p class="text-danger">
                                                        * Campo obrigatório
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-md-2" ng-class="{'has-error' : sindicanteForm.numero.$invalid && sindicanteForm.numero.$dirty}">
                                                <label class="control-label" for="numero">Número *</label>
                                                <input class="form-control input-sm fonte12pt text-right"
                                                       type="text"
                                                       id="numero"
                                                       name="numero"
                                                       ng-model="vm.sindicante.endereco.numero"
                                                       ui-number-mask="0" maxlength="6"
                                                       required />
                                                <div class="col-md-12" ng-show="sindicanteForm.numero.$invalid && sindicanteForm.numero.$dirty">
                                                    <p class="text-danger">
                                                        * Campo obrigatório
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label class="control-label" for="complemento">Complemento</label>
                                                <input class="form-control input-sm fonte12pt"
                                                       type="text"
                                                       id="complemento"
                                                       name="complemento"
                                                       ng-model="vm.sindicante.endereco.complemento" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label class="control-label" for="bairro">Bairro</label>
                                                <input class="form-control input-sm fonte12pt"
                                                       type="text"
                                                       id="bairro"
                                                       name="bairro"
                                                       ng-model="vm.sindicante.endereco.bairro"
                                                       ng-disabled="vm.desabilitada" />
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-2" ng-class="{'has-error' : sindicanteForm.uf.$invalid && sindicanteForm.uf.$dirty}">
                                                <label class="control-label" for="uf">UF *</label>
                                                <select class="form-control input-sm text-center fonte12pt"
                                                        id="uf"
                                                        name="uf"
                                                        ng-model="vm.sindicante.endereco.estado"
                                                        ng-options="estado as estado.uf for estado in vm.estados"
                                                        ng-disabled="vm.desabilitada"
                                                        ng-change="vm.carregarDropCidade()"
                                                        required>
                                                    <option value="">Selecione...</option>
                                                </select>
                                                <div class="col-md-12" ng-show="sindicanteForm.uf.$invalid && sindicanteForm.uf.$dirty">
                                                    <p class="text-danger">
                                                        * Campo obrigatório
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-md-4" ng-class="{'has-error' : sindicanteForm.cidade.$invalid && sindicanteForm.cidade.$dirty}">
                                                <label class="control-label" for="cidade">Cidade *</label>
                                                <select class="form-control input-sm text-center fonte12pt"
                                                        id="cidade"
                                                        name="cidade"
                                                        ng-model="vm.sindicante.endereco.cidade"
                                                        ng-options="cidade as cidade.nome for cidade in vm.cidades"
                                                        ng-disabled="vm.desabilitaCidade"
                                                        required>
                                                    <option value="">Selecione...</option>
                                                </select>
                                                <div class="col-md-12" ng-show="sindicanteForm.cidade.$invalid && sindicanteForm.cidade.$dirty">
                                                    <p class="text-danger">
                                                        * Campo obrigatório
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group" ng-show="vm.sindicante.sindicanteTipoId == 2">
                                            <div class="col-md-2" ng-class="{'has-error' : sindicanteForm.valorPorKm.$invalid && sindicanteForm.valorPorKm.$dirty}">
                                                <label class="control-label" for="valorKm">Valor Km</label>
                                                <input class="form-control input-sm fonte12pt text-right"
                                                       type="text"
                                                       id="valorKm"
                                                       name="valorPorKm"
                                                       ng-model="vm.sindicante.valorPorKm"
                                                       ui-money-mask maxlength="9" />
                                                <div class="col-md-12" ng-show="sindicanteForm.valorPorKm.$invalid && sindicanteForm.valorPorKm.$dirty">
                                                    <p class="text-danger">
                                                        * Campo obrigatório
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Dados Cadastrais -->
                    <!-- Dados Bancarios -->
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href=".collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Dados Bancários
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="collapseTwo panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <div class="container">
                                    <div class="col-md-11 col-md-offset-1">
                                        <div class="form-group">
                                            <div class="col-md-3" ng-class="{'has-error' : sindicanteForm.bancoId.$invalid && sindicanteForm.bancoId.$dirty}">
                                                <label class="control-label" for="bancoId">Banco *</label>
                                                <select class="form-control input-sm fonte12pt"
                                                        id="bancoId"
                                                        name="bancoId"
                                                        ng-model="vm.sindicante.bancoId"
                                                        ng-options="b.id as b.nome for b in vm.bancoList"
                                                        required>
                                                    <option value="">Selecione...</option>
                                                </select>
                                                <div class="col-md-12" ng-show="sindicanteForm.bancoId.$invalid && sindicanteForm.bancoId.$dirty">
                                                    <p class="text-danger">
                                                        * Campo obrigatório
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-3" ng-class="{'has-error' : sindicanteForm.tipoConta.$invalid && sindicanteForm.tipoConta.$dirty}">
                                                <label class="control-label" for="tipoConta">Tipo da Conta *</label>
                                                <select class="form-control input-sm fonte12pt"
                                                        id="tipoConta"
                                                        name="tipoConta"
                                                        ng-model="vm.sindicante.contaTipo"
                                                        ng-options="tc.id as tc.nome for tc in vm.contaTipoList"
                                                        required>
                                                    <option value="">Selecione...</option>
                                                    <option value="1">Conta Corrente</option>
                                                    <option value="2">Conta Poupança</option>
                                                </select>
                                                <div class="col-md-12" ng-show="sindicanteForm.tipoConta.$invalid && sindicanteForm.tipoConta.$dirty">
                                                    <p class="text-danger">
                                                        * Campo obrigatório
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-3" ng-class="{'has-error' : sindicanteForm.agencia.$invalid && sindicanteForm.agencia.$dirty}">
                                                <label class="control-label" for="agencia">Nº da Agência *</label>
                                                <input class="form-control input-sm fonte12pt text-right"
                                                       type="text"
                                                       id="agencia"
                                                       name="agencia"
                                                       ng-model="vm.sindicante.agencia"
                                                       minlength="4" maxlength="4"
                                                       required />
                                                <div class="col-md-12" ng-show="sindicanteForm.agencia.$invalid && sindicanteForm.agencia.$dirty">
                                                    <p class="text-danger">
                                                        * Campo obrigatório
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-3" ng-class="{'has-error' : sindicanteForm.numeroConta.$invalid && sindicanteForm.numeroConta.$dirty}">
                                                <label class="control-label" for="numeroConta">Nº da Conta *</label>
                                                <input class="form-control input-sm fonte12pt text-right"
                                                       type="text"
                                                       id="numeroConta"
                                                       name="numeroConta"
                                                       ng-model="vm.sindicante.conta"
                                                       minlength="4" maxlength="20" 
                                                       ng-pattern="vm.agenciaPattern"
                                                       required/>
                                            </div>
                                            <div class="col-md-1" ng-class="{'has-error' : sindicanteForm.digito.$invalid && sindicanteForm.digito.$dirty}">
                                                <label class="control-label" for="digito">Digito *</label>
                                                <input class="form-control input-sm fonte12pt text-right"
                                                       type="text"
                                                       id="digito"
                                                       name="digito"
                                                       ng-model="vm.sindicante.digito"
                                                       minlength="1" maxlength="1"
                                                       ui-number-mask="0"
                                                       required />
                                            </div>
                                            <div class="col-md-12" ng-show="sindicanteForm.numeroConta.$invalid && sindicanteForm.numeroConta.$dirty || sindicanteForm.digito.$invalid && sindicanteForm.digito.$dirty">
                                                <p class="text-danger">
                                                    * Campo obrigatório
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Dados Bancarios -->
                    <!-- Configuração Honorarios -->
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href=".collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Configurações de Honorários
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="collapseThree panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <div class="container col-md-12">
                                    <div class="col-md-11 col-md-offset-1">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label class="control-label">Serviço Seguradora</label>
                                                <select class="form-control input-sm fonte12pt"
                                                        id="servicoSeguradora"
                                                        name="servicoSeguradora"
                                                        ng-model="vm.honorario.servicoSeguradora"
                                                        ng-change="vm.carregarEventoTipo()"
                                                        ng-options="ss as ss.nome for ss in vm.servicoSeguradoraList">
                                                    <option value="">Selecione...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label class="control-label">Tipo Evento</label>
                                                <select class="form-control input-sm fonte12pt"
                                                        id="eventoTipo"
                                                        name="eventoTipo"
                                                        ng-disabled="vm.desabilitaDropEvento"
                                                        ng-model="vm.honorario.eventoTipo"
                                                        ng-options="e as e.nome for e in vm.eventoTipoList">
                                                    <option value="">Selecione...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label class="control-label">Serviço Sindincante</label>
                                                <select class="form-control input-sm fonte12pt"
                                                        id="servicoSindicante"
                                                        name="servicoSindicante"
                                                        ng-model="vm.honorario.servicoSindicante"
                                                        ng-options="ssd as ssd.nome for ssd in vm.servicoSindicanteList">
                                                    <option value="">Selecione...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-2">
                                                <label class="control-label">Valor</label>
                                                <input class="form-control input-sm fonte12pt text-right" type="text"
                                                       id="valor"
                                                       name="valor"
                                                       ng-model="vm.honorario.valor"
                                                       ui-money-mask
                                                       maxlength="9" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <button class="btn btn-default btnAddServico"
                                                ng-click="vm.addHonorario(vm.honorario)"
                                                ng-disabled="vm.honorario.servicoSeguradora.id == undefined || vm.honorario.eventoTipo.id == undefined || vm.honorario.servicoSindicante.id == undefined || (vm.honorario.valor == undefined || vm.honorario.valor == 0)">
                                            <i class="fa fa-plus"></i> Adicionar
                                        </button>
                                    </div>
                                    <!-- Tabela Seviços Adicionados -->
                                    <div class="col-md-12" ng-hide="vm.sindicante.honorarios.length < 1">
                                        <div>
                                            <h5 class="text-primary">Honorários</h5>
                                        </div>
                                        <div>
                                            <table class="table table-striped table-hover" ng-hide="false">
                                                <thead>
                                                    <tr>
                                                        <th>Serviço</th>
                                                        <th>Evento</th>
                                                        <th>Tipo Serviço</th>
                                                        <th>Valor</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="honorario in vm.sindicante.honorarios">
                                                        <td>{{honorario.servicoSeguradora.nome}}</td>
                                                        <td>{{honorario.eventoTipo.nome}}</td>
                                                        <td>{{honorario.servicoSindicante.nome}}</td>
                                                        <td>{{honorario.valor | currency}}</td>
                                                        <td><a ng-click="vm.removeHonorario(honorario)"><i class="fa fa-remove text-danger"></i></a></td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                    <!-- -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Configuração Honorarios -->
                </div>

                <div class="form-group">
                    <div class="col-md-10" ng-hide="vm.loading">
                        <input type="submit" value="Salvar" class="btn btn-default" ng-click="vm.salvar()" ng-hide="sindicanteForm.$invalid || vm.sindicante.honorarios.length < 1" />
                        <a href="#/sindicante" class="btn btn-default">Voltar</a>
                    </div>
                    <div class="col-md-12 text-center" ng-show="vm.loading">
                        <loading ng-model="vm.loading"></loading>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>